<!DOCTYPE html>
<html>
<head>
	<title>The Youth Bank of India</title>
	<meta charset='utf-8'>
	<meta name='keywords' content='banking'>
	<meta name='viewport' content='width=device-width,initial-scale=1.0'>
	<link rel='stylesheet' href='/css/file2.css'>
</head>
<body>

	<header>
		 <img src='/images/logo.png'>
		 <nav>
		 	<a href="#" target='_self'>HOME</a>
		 	<a href="/list" target='_self'>VIEW ALL CUSTOMERS</a>
		 </nav>
	</header>

	<div class='top-wrapper'>
	</div>

	<div class="text">
		<img src='/images/logo.png'>
		<h1>BANKING WITHOUT THE HASSLE</h1>
		<p>Enjoy the banking experience within the comfort of your home. </p>
		</div>
   
	<main>
		<p>We at The Youth Bank of India offer modern banking solutions with just a tap of your finger. We allow you to make transactions with just one click whether it be depositing a sum of money, withdrawal or checking your account status. Access your account from any part of the world. Learn about new and improved banking solutions on our website.</p>
	</main>

	<div class='middle'>
		<h5>Secure Transactions</h5>
		<br>
		<p>Customer satisfaction is our atmost priority. </p>
	</div>

	<footer>
		<p>Trusted choice of consumers all over India.</p>
	</footer>
</body>
</html>