<!DOCTYPE html>
<html>
    <head>
        <title>Transactions</title>
        <meta charset='utf-8'>
        <link rel='stylesheet' href='/css/transaction.css'>
    </head>
    <body>
        <h1>List of Transactions</h1>
        <main>
            <table>
                <tr>
                    <th>Sender Id</th>
                    <th>Receiver Id</th>
                    <th>Transaction Amount</th>
                </tr>
                <% transaction.forEach((t)=>{%>
                <tr>
                    <td><%= t.sender%></td>
                    <td><%= t.receiver%></td>
                    <td><%= t.amount%></td>
                </tr>
               <%})%>
            </table>
            <a href='/list'>Back</a>
        </main>
    </body>
</html>